.wrapper {
    background: #fff;
    width: 100%;
    height: 56px;
    position: fixed;
    bottom: 0;
    left: 0;
    border-top: 1px solid #666;
    font-size: 24px;
    padding: 8px 16px;
    box-sizing: border-box;
}

.wrapper i {
    margin-right: 24px;
}
