.wrapper {
    background: #fff;
    box-sizing: border-box;
    position: fixed;
    top: 0; left: 0;
    width: 100%;
    height: 56px;
    padding: 16px;
    border-bottom: 1px solid #666;
}

.back {
    position: absolute;
    top: 0; left: 0;
    font-size: 32px;
    margin-left: 16px;
}

.submit {
    position: absolute;
    top: 0; right: 0;
    font-size: 32px;
    margin-right: 16px;
}
